In [1]:
import glob
import pandas as pd
from pyspark.sql import SparkSession

caminho_csv = '/Users/caioassis/Desktop/projetosTI/books_data_analysis_with_pandas/dados_emprestimos'

# agrupando arquivos pela mesma extensão CSV.
csv_files = glob.glob(caminho_csv + "/*.csv")

# criando dataframe com os valores dos arquivos CSV e agrupando em um unico dataframe
df_list = (pd.read_csv(file) for file in csv_files)
big_df_not_clean   = pd.concat(df_list, ignore_index=True)

In [2]:
big_df_clear = big_df_not_clean.drop_duplicates()
big_df_clear

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258014,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258015,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258016,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2258017,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [3]:
big_df_clear.head(10)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO
10,709690,2007019312,NaN,2010/01/04 08:49:57.857000000,2010/01/13 09:58:25.443000000,2.007014e+08,ALUNO DE GRADUAÇÃO
11,709691,2008046357,2010/01/19 11:50:13.404000000,2010/01/04 09:02:30.576000000,2010/02/02 12:13:36.132000000,2.005075e+08,ALUNO DE GRADUAÇÃO
12,709692,L187962,NaN,2010/01/04 09:07:06.131000000,2010/06/22 18:55:04.000000000,2.004044e+08,ALUNO DE GRADUAÇÃO
13,709693,L192776,NaN,2010/01/04 09:07:06.159000000,2010/06/22 18:54:46.000000000,2.004044e+08,ALUNO DE GRADUAÇÃO

In [4]:
# lendo dados de um arquivo com extensao Parquet
# criando uma sessao Spark
caminho_parquet = '/Users/caioassis/Desktop/projetosTI/books_data_analysis_with_pandas/dados_exemplares.parquet'

# utilizei a biblioteca SPARK pois o ambiente que estou desenvolvendo nao estava aceitando a pyarrow e a fastparquet, ainda não sei 
# se com elas a perfomance do script seria melhor.
spark = SparkSession.builder.appName("ParquetToDataFrame").getOrCreate()
df_parquet_spark = spark.read.parquet(caminho_parquet)

# criando dataframe com os valores dos arquivos Parquet 
df_parquet = df_parquet_spark.toPandas()
spark.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/05 21:00:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_parquet

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema,index
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1,0
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1,2
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5,3
4,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15,5
...,...,...,...,...,...,...,...,...
546232,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231,568580
546233,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233,568581
546234,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234,568582
546235,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235,568583
546236,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236,568584

In [6]:
df_parquet.value_counts()

id_exemplar  codigo_barras  colecao            biblioteca                                             status_material  localizacao  registro_sistema  index
3            L000001        Acervo Circulante  Biblioteca Central Zila Mamede                         ESPECIAL         638          1                 2         1
1070480      2013071582     Acervo Circulante  Biblioteca Setorial do Centro Ciências da Saúde - CCS  REGULAR          340          200283            427713    1
1070506      2013077711     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          354          200288            427722    1
1070505      2013077710     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          327          200288            427723    1
1070504      2013077807     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          348          200286            427720    1
                                                                                                                                                               ..
232120       2007034699     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          652          96457             227719    1
232119       2007034703     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          628          96456             227718    1
232118       2007036783     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          618          96301             227350    1
232117       2007040275     Acervo Circulante  Biblioteca Central Zila Mamede                         REGULAR          680          96301             227351    1
1353476      2019012276     Acervo Circulante  Biblioteca Central Zila Mamede                         ESPECIAL         962          268236            568584    1
Name: count, Length: 546237, dtype: int64

In [7]:
emprestimos_total = big_df_clear.merge(df_parquet)
emprestimos_total

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema,index
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225,9805
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009,64621
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019,186367
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494,118233
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,91736,219108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,110098,257437
2072518,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,110171,257611
2072519,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,134173,314463
2072520,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712,166562
2072521,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153,441967

In [8]:
emprestimos_total.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario',
       'id_exemplar', 'colecao', 'biblioteca', 'status_material',
       'localizacao', 'registro_sistema', 'index'],
      dtype='object')

In [9]:
emprestimos_total['localizacao']

0          630
1          647
2          640
3          609
4          686
          ...
2072517    684
2072518    628
2072519    653
2072520    675
2072521     14
Name: localizacao, Length: 2072522, dtype: int64

In [10]:
# funcao para adicionar "nomes" conforme códigos da CDU

def mapear_cdu(cdu):
    categorias = {
        range(0, 100): 'Generalidades',
        range(100, 200): 'Filosofia e psicologia',
        range(200, 300): 'Religião',
        range(300, 400): 'Ciências sociais',
        range(400, 500): 'Classe vaga',
        range(500, 600): 'Matemática e ciências naturais',
        range(600, 700): 'Ciências aplicadas',
        range(700, 800): 'Belas artes',
        range(800, 900): 'Linguagem',
        range(900, 1000): 'Geografia. Biografia. História.'
    }
    
    for intervalo, categoria in categorias.items():
        if cdu in intervalo:
            return categoria
        
emprestimos_total['CDU_geral'] = emprestimos_total['localizacao'].apply(mapear_cdu)

In [11]:
emprestimos_total['CDU_geral']

0          Ciências aplicadas
1          Ciências aplicadas
2          Ciências aplicadas
3          Ciências aplicadas
4          Ciências aplicadas
                  ...
2072517    Ciências aplicadas
2072518    Ciências aplicadas
2072519    Ciências aplicadas
2072520    Ciências aplicadas
2072521         Generalidades
Name: CDU_geral, Length: 2072522, dtype: object

In [12]:
emprestimos_total.drop(columns=['registro_sistema'],inplace=True)
emprestimos_total

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,index,CDU_geral
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,9805,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,64621,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,186367,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,118233,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,219108,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,257437,Ciências aplicadas
2072518,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,257611,Ciências aplicadas
2072519,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,314463,Ciências aplicadas
2072520,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,166562,Ciências aplicadas
2072521,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,441967,Generalidades

In [13]:
# como podemos notar não existe mais a coluna 'registro_sistema' , pois foi retirada com o Drop
emprestimos_total.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario',
       'id_exemplar', 'colecao', 'biblioteca', 'status_material',
       'localizacao', 'index', 'CDU_geral'],
      dtype='object')

In [14]:
emprestimos_total['matricula_ou_siape'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2072522 entries, 0 to 2072521
Series name: matricula_ou_siape
Non-Null Count    Dtype
--------------    -----
2069629 non-null  float64
dtypes: float64(1)
memory usage: 15.8 MB

In [15]:
emprestimos_total['matricula_ou_siape']

0          2.008023e+09
1          2.008023e+09
2          2.008112e+09
3          2.007211e+08
4          2.009046e+09
               ...
2072517    3.067431e+06
2072518    3.067431e+06
2072519    3.067431e+06
2072520    2.020101e+10
2072521    2.020101e+10
Name: matricula_ou_siape, Length: 2072522, dtype: float64

In [16]:
# alterando o formato da coluna 'matricula_ou_siape' para string, pois será necessário nos próximos passos das anaálises.

emprestimos_total['matricula_ou_siape'] = emprestimos_total['matricula_ou_siape'].astype('string')

In [17]:
emprestimos_total['matricula_ou_siape'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2072522 entries, 0 to 2072521
Series name: matricula_ou_siape
Non-Null Count    Dtype
--------------    -----
2069629 non-null  string
dtypes: string(1)
memory usage: 15.8 MB